

{% block body %}
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}})}}


     <div class="quform-elements">
        <div class="row">
            

            <div class="col-md-6">
                <div class="quform-element">

 <div >{{form_label(form.nom,"Nom")}}<span class="quform-required"> *</span> </div>
    {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}

{{ form_errors(form.nom,{'attr':{'class':'text-danger'}})}}


  <div class="quform-elements">
        <div class="row">
            

            <div class="col-md-6">
                <div class="quform-element">

<div >{{form_label(form.telephone,"telephone")}}<span class="quform-required"> *</span> </div>
    {{ form_widget(form.telephone,{'attr':{'class':'form-control'}}) }}

{{ form_errors(form.telephone,{'attr':{'class':'text-danger'}})}}


  <div class="quform-elements">
        <div class="row">
            

            <div class="col-md-6">
                <div class="quform-element">

<div >{{form_label(form.mail,"mail")}}<span class="quform-required"> *</span> </div>
    {{ form_widget(form.mail) }}

{{ form_errors(form.mail,{'attr':{'class':'text-danger'}})}}



    {{ form_row(form.query) }}
    {{ form_row(form.region) }}
    {{ form_widget(form.submit) }}
{{ form_end(form) }}


<button class="btn">{{ button_label|default('Save') }}</button>
    </div>
            </div>
            
        </div>
    </div>
 {{ form_end(form) }}

 {% endblock %}
