


{%extends 'admin/Base.html.twig'%}


{% block body %}
<div style="margin-right:50px;margin-left:350px">
<title>Assurance</title>
    <h1>Assurance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ assurance.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ assurance.nom }}</td>
            </tr>
           
            <tr>
                <th>Telephone</th>
                <td>{{ assurance.telephone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ assurance.mail }}</td>
            </tr>
             <tr>
                <th>Region</th>
                <td>{{ assurance.region }}</td>
            </tr>
             <tr>
                <th>adresse</th>
                <td>{{ assurance.region.adresse }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('app_assurance_index') }}">back to list</a>

    <a href="{{ path('app_assurance_edit', {'id': assurance.id}) }}">edit</a>

    {{ include('assurance/_delete_form.html.twig') }}
    </div>
{% endblock %}
