<h1 align ="center">Assurance</h1>
<table class="card" >
                            <tbody>
                             
                                <tr>
                                    <th>nom</th>
                                    <td>{{assurances.nom }}</td>
                                </tr>
                                <tr>
                                    <th>telephone</th>
                                    <td>{{ assurances.telephone }}</td>
                                </tr>
                                <tr>
                                    <th>E-mail</th>
                                    <td>{{ assurances.mail }}</td>
                                </tr>
                                <tr>
                                    <th>region</th>
                                    <td>{{ assurances.region }}</td>
                                </tr>
                                <tr>
                                    <th>adresse</th>
                                    <td>{{ assurances.region.adresse  }}</td>
                                </tr>
                                
                            </tbody>
                        </table>
