<!DOCTYPE html>

<title>Actualite index</title>

{% block body %}
    <h1>Actualite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>DateActualite</th>
                <th>ImageFile</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actualite in actualites %}
            <tr>
                <td>{{ actualite.id }}</td>
                <td>{{ actualite.titre }}</td>
                <td>{{ actualite.contenu }}</td>
                <td>{{ actualite.dateActualite ? actualite.dateActualite|date('Y-m-d') : '' }}</td>
                <td>{{ actualite.imageFile }}</td>
                <td>
                    <a href="{{ path('app_client_actualite_show', {'id': actualite.id}) }}">show</a>
                    <a href="{{ path('app_client_actualite_edit', {'id': actualite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_client_actualite_new') }}">Create new</a>
{% endblock %}
