{{ form_start(form,{'attr': {'novalidate': 'novalidate'}})}}
    

{{form_label(form.region,"region")}}
    {{ form_widget(form.region) }}

{{ form_errors(form.region,{'attr':{'class':'text-danger'}})}}



{{form_label(form.adresse,"adresse")}}
    {{ form_widget(form.adresse) }}

{{ form_errors(form.adresse,{'attr':{'class':'text-danger'}})}}




<button class="btn">{{ button_label|default('Save') }}</button>

 {{ form_end(form) }}